<dl class="title-block__fields">
          <div class="field field--name">
            <dt class="field__caption">Name</dt>
            <dd class="field__value">{{site.author}}</dd>
          </div>
          <div class="field field--id" data-state="{{site.studentIdState}}">
            <dt class="field__caption">Student ID<span class="field__pending-note"> &middot; to be supplied</span></dt>
            <dd class="field__value"><span class="field__figure">{{site.studentId}}</span></dd>
          </div>
          <div class="field field--degree">
            <dt class="field__caption">Degree</dt>
            <dd class="field__value">{{site.degree}} <span class="field__aside">({{site.degreeNative}})</span></dd>
          </div>
          <div class="field field--course">
            <dt class="field__caption">Course</dt>
            <dd class="field__value">{{site.course}}</dd>
          </div>
          <div class="field field--year">
            <dt class="field__caption">Academic year</dt>
            <dd class="field__value field__figure">{{site.academicYear}}</dd>
          </div>
          <div class="field field--university">
            <dt class="field__caption">University</dt>
            <dd class="field__value">{{site.university}}</dd>
          </div>
        </dl>